{% extends "AI-html-1.0.0/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="row">
        {% for curso in asignados %}
            <div class="col-md-3">
                <div class="card" style="width: 100%; margin: 20px 20px;">
                    <img src="{{ curso.imagen.url }}" class="card-img-top">
                    <div class="card-body" style="text-align: center; color: rgb(48, 44, 44)">
                        <h7 class="card-title"><b>{{ curso.name }}</h7></b><br>
                        <h7 class="card-title">{{ curso.descripcion }}</h7><br><br>
                        <p class="card-title">&nbsp;{{ curso.horario }}</p>
                        <p class="card-title">
                            &nbsp;Nota: 
                            {% for asignacion in asignaciones %}
                                {% if asignacion.curso.id == curso.id %}
                                    {{ asignacion.nota }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'vista_cursos' curso.id %}" class="btn btn-success" style="margin: 0px 0px 0px -10px;">Informacion</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div style="width: 75%; margin: 40px auto; text-align: center; color: gray;">
    <a href="{% url 'enviar' %}" class="btn btn-danger" style="margin: 0px 0px 0px -10px;">Enviar Constancia</a>
</div>
{% endblock %}
